.mainContLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../public/bgyellow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    
    .contentLogin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        width: 50%;


    }
}
